_site
node_modules
.sass-cache
*.gem
Gemfile.lock
*.gem
assets/**/*.html
assets/**/*.md

.DS_Store

/_layouts/home.html
/_layouts/page.html

/_sass/primer-base
/_sass/primer-layout
/_sass/primer-markdown
/_sass/primer-support
/_sass/primer-utilities
/_sass/rouge.scss

/.github
/.jekyll-cache
/.vscode
/assets
/docs
/script

/.rubocop.yml
/.travis.yml
/another-page.md
/Gemfile
/Gemfile.lock
/jekyll-theme-primer.gemspec
/LICENSE.md
/package-lock.json
/package.json
/README.md
