<section class="hero">

  <div class="hero__content">

    <div class="hero__info">
      <p class="hero__greeting">
        Hi!
      </p>
      <h1 class="hero__title">
        I’m Andrei, an ecommerce frontend developer with&nbsp;a&nbsp;strong UI/UX background.
      </h1>
      <p class="hero__description">
        I help turn ideas into finished working products with support at all stages.
      </p>
    </div>

    <figure class="hero__figure">
      <img src="img/-about/andrei_voronin_photo_mini@2x.jpg"
        srcset="img/-about/andrei_voronin_photo_mini@2x.jpg 2x"
        alt="Andrei Voronin photo"
        class="hero__photo"
      >
    </figure>

  </div>

</section>
