<section class="hero">

  <div class="hero__content">

    <figure class="hero__figure">
      <img src="img/-about/andrei_voronin_photo@2x.jpg" alt="Andrei Voronin photo" class="hero__photo">
    </figure>

    <section class="hero__info">
      <p class="hero__greeting">
        Hi!
      </p>
      <h1 class="hero__title">
        I’m Andrei, an ecommerce frontend developer with a strong UI/UX background.
      </h1>
      <p class="hero__description">
        I help turn ideas into finished working products with support at all stages.
      </p>
    </section>

  </div>

</section>
