---
layout: default
---

{% include about.html %}

<section class="home">

  {{ content }}

  <ul class="home__posts">
    {% for post in site.posts %}
      <li class="home__posts-item">
        <h2 class="home__posts-heading">
          <a href="{{ post.url }}" class="home__posts-link">{{ post.title }}</a>
        </h2>
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished" class="home__posts-date">
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
        <div class="home__posts-excerpt">
          {{ post.excerpt }}
        </div>
      </li>
    {% endfor %}
  </ul>

</section>
