---
layout: default
---

<section class="post">
    {% assign image_path = '/img' | append: page.id | append: '/-cover.jpg' %}
    {% for static_file in site.static_files %}
        {% if static_file.path == image_path %}    
            <div>
              <img src="{{ image_path }}" alt="{{ page.title | escape }}">
            </div>
        {% endif %}
    {% endfor %}

    <h1>{{ page.title }}</h1>

    <div class="post__content">
        {{ content }}
    </div>
    
    <ul class="post__tags">
        {% for tag in page.tags %}
            <li class="post__tags-item">
                <a href="/tags/#{{ tag }}" class="post__tags-link">{{ tag }}</a>
            </li>
        {% endfor %}
    </ul>

    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>

</section>

{% include about.html %}
