---
layout: default
---

<section class="container-md">

  <div class="pl-md-3 pr-md-3 text-center">
    {% assign image_path = '/img' | append: page.id | append: '/-cover.jpg' %}
    {% for static_file in site.static_files %}
      {% if static_file.path == image_path %}    
        <img src="{{ image_path }}" alt="{{ page.title | escape }}" class="width-fit"/>
      {% endif %}
    {% endfor %}
  </div>

  <div class="lh-condensed-ultra mt-3 px-3">
    <h1 class="f1 mb-3">
      {{ page.title }}
    </h1>

    <div class="lead mb-3">
      {{ page.subtitle }}
    </div>
  </div>

  <div class="markdown-body px-3">
      {{ content }}
  </div>
    
</section>

<section class="container-md">

  <div class="d-md-flex flex-justify-between my-6 f4">
    <time class="p-3 text-gray"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
    >
        {{ page.date | date_to_long_string }}
    </time>

    {% assign count = 0 %}
    {% for post in site.posts reversed %}
      {% assign count = count | plus: 1 %}
      {% if post.id == page.id %}    
        {% assign post_id = count %}
      {% endif %}
    {% endfor %}
    <a href="https://github.com/{{ site.repository.username }}/{{ site.repository.comments }}/issues/{{ post_id }}"
        class="p-3"
        target="_blank"
    >
        Discuss
    </a>

    <div>
      {% for tag in page.tags %}
        <a href="/tags#{{ tag }}" class="d-inline-block p-3">
            <small class="text-small">#</small>{{ tag }}
        </a>
      {% endfor %}
    </div>
  </div>

</section>

<section class="container-md d-flex mb-6 p-3 f4">

  <a href="{{ site.about.page }}" class="col-3 col-md-2 mr-3 mr-md-4">
    <img src="img/-cover.jpg"
      alt="{{ site.name }} photo"
      class="circle width-fit"
      width="{{ site.image.width }}"
    />
  </a>

  <div class="col-9 col-md-10">
    <h1 class="h1 lh-condensed">
      {{ site.about.line_1 }}
      <br class="hide-xl"/>
      {{ site.about.line_2 }}
    </h1>
    <p class="hide-sm">
      {{ site.about.line_3 }}
      <br/>
      {{ site.about.line_4 }}
    </p>
    
    {% if site.twitter %}
      <div class="mt-3">
        <a href="https://twitter.com/intent/follow?screen_name={{ site.twitter.username }}" target="_blank"
          class="mr-3">Follow @{{ site.twitter.username }}</a>

        {% if site.twitter.followers %}
          <span class="text-gray">{{ site.twitter.followers }}&nbsp;followers</span>
        {% endif %}
      </div>
    {% endif %}

  </div>

</section>
